body {
    display: flex;
    flex-direction: row;
    margin: 0;
}

main {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;
    flex-shrink: 1;
}

.navbar {
    width: 100%;
    background-color: #1c2227;
    padding: 0px 0;
    line-height: 0px;
    position: sticky;
    top: 0;
    z-index: 100;
    opacity: 70%;
    display: flex;
    flex-direction: row;
}

.navbar > .container > .firstBlock {
    flex-shrink: 0;
    display: flex;
    direction: row;
    align-items: center;
}

.navbar > .container > .secondBlock {
    flex-shrink: 0;
    display: flex;
    direction: row;
    align-items: center;
    margin-left: auto;
}
.navbar > .container > .menu-button {
    display: none;
}

@media only screen and (max-width: 930px) {
    .navbar > .container > .firstBlock {
        display: none;
    }
    .headerDepart {
        display: none;
    }
    .navbar > .container > .secondBlock {
        display: none;
    }
    .navbar > .container > .menu-button {
        flex-shrink: 0;
        display: flex;
        direction: row;
        align-items: center;
        margin-right: auto;
    }
}

.headerName {
    color: white;
}

.headerDepart {
    color: rgb(181, 207, 226);
    padding-left: 150px;
    margin-right: auto;
}

.codeIcon {
    height: 50px;
    width: 50px;
    padding-right: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 24px;
    padding: 20px 38px;
    border-radius: 10px;
    flex-shrink: 0;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: #403e3e;
    color: #a29a9a;
    font: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.intro-and-pic {
    display: flex;
    flex-direction: row;
}

.intro {
    flex: 1;
    text-align: left;
    padding: 20px;
}

.intro h1 {
    font-size: 36px;
}

.intro p {
    font-size: 18px;
}

.profile-pic {
    flex: 1;
    text-align: center;
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: column;
}

.profile-pic img {
    max-width: 380px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    top: 0;
    right: 0;
    margin: 20px;
    align-self: center;
}

@media only screen and (max-width: 930px) {
    .profile-pic img {
        max-width: 230px;
        height: auto;
        border-radius: 50%;
        border: 5px solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        position: relative;
        top: 0;
        right: 0;
        margin: 20px;
        align-self: center;
    }
}

.iconList {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25px;
}

.iconList a {
    height: 25px;
    width: 25px;
    color: black;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 4s;      
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;     
    display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    6.25% { transform: rotate(35.0deg) }  
    12.5% { transform: rotate(-8.0deg) }
    18.75% { transform: rotate(35.0deg) }
    25% { transform: rotate(-6.0deg) }
    31.25% { transform: rotate(20.0deg) }
    37.5% { transform: rotate( 0.0deg) } 
    62.5% { transform: rotate( 0.0deg) }
}

/** Sidebar Styles */
aside {
    border-right: 2px solid #ddd;
  
    position: relative;

    width: 0px;
    overflow: hidden;
    transition: 0.3s ease width;
    margin-right: auto;
    border: 0px;
    flex-shrink: 0;
    background-color: #1c2227;
    opacity: 70%;
}

aside > div {
    position: absolute;
    width: 200px;
    display: flex;
    flex-direction: row;
}

aside > div > div {
    padding: 32px 28px;
}

aside.opened {
    width: 200px;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    font-size: 1rem;
}

aside ul > li {
    margin: 8px 0;
}

aside ul > li a {
    color: white;
    transition: color 0.1s ease-in;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none
}

aside ul > li a:hover {
    color: #a29a9a;
}
@media only screen and (min-width: 930px) {
    aside {
        display: none;
    }
}